* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: url("../assets/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color: hsl(0, 0%, 90%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
